<?xml version="1.0" encoding="UTF-8"?>
<!--Lance Graham
IT 214 Section 01
Group Project-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RecursiveMult</servlet-name>
    <servlet-class>web.RecursiveMult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecursiveMult</servlet-name>
    <url-pattern>/RecursiveMULT</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>RecursiveMult.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RecursiveAdd</servlet-name>
    <servlet-class>web.RecursiveAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecursiveAdd</servlet-name>
    <url-pattern>/recursiveADD</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>RecursiveAdd.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>BinarySearch</servlet-name>
    <servlet-class>web.BinarySearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BinarySearch</servlet-name>
    <url-pattern>/binarySEARCH</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>BinarySearch.jsp</welcome-file>
  </welcome-file-list>
</web-app>