<?xml version="1.0" encoding="UTF-8"?>
<!--Lance Graham
IT 214 Section 01
Group Project-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>RecursiveMult</servlet-name>
    <servlet-class>RecursiveMult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecursiveMult</servlet-name>
    <url-pattern>/RecursiveMULT</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RecursiveAdd</servlet-name>
    <servlet-class>RecursiveAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecursiveAdd</servlet-name>
    <url-pattern>/recursiveADD</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BinarySearch</servlet-name>
    <servlet-class>BinarySearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BinarySearch</servlet-name>
    <url-pattern>/binarySEARCH</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Queue</servlet-name>
    <servlet-class>Queue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Queue</servlet-name>
    <url-pattern>/QUEUE</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>Calculator</servlet-name>
    <servlet-class>Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator</servlet-name>
    <url-pattern>/CALCULATOR</url-pattern>
  </servlet-mapping>

</web-app>